/* All style should go in this document. */
#content{
	font-family:Times;
	width: 100%;
}
#about-header, #affiliations-header{
	color:#111;
    font-weight: bold;
    font-size: 48px;
    text-align: center;
}
#home-header, #skills-header, #contact-header{
    color:gray;
    font-weight: bold;
    font-size: 48px;
    text-align: center;
}

a{
	color:orange;
	text-decoration: none;
}
#nav-bar ul{
	list-style-type: none;
    margin: 0;
    padding: 0;
    font-family:Futura;
    overflow: hidden;
    background-color:#333;
    position: fixed;
    top:0px;
    width: 100%;
    left:0px;
}
#nav-bar li{
	float:left;
}

#nav-bar li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#nav-bar li a:hover{
    background-color: #111;
}

.active{
    background-color: orange;
}


#nav-bar a{
	display:block;
	padding: 8px;
}

#content{
    width:100%;
    height:100%;
}
#about, #affiliations{
    background-color: #3399ff;
    color:white;
    padding-top: 50px;

}
#home, #skills, #contact{
    background-color: white;
    color: #3399ff;
    padding-top: 50px;
}
#home,#about,#skills,#affiliations,#contact{
    height: 93%;
}
body{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 

}    
html {
    height: 100%;
    overflow-x: hidden; 

}
table{
    font-size: 24px;
}
footer{
    background-color:#333;
    color:white;
}
footer li{
    list-style-type: none;
    padding: 14px;
    display: inline;
    width: 100%;
}