/* 
Nav bar styling 
*/
.nav{
  background: #2e2e2e;
  color: white;
}
.nav li:hover{
  background:#666666;
}
.navbar-default .navbar-toggle{
  color:white;
}
.nav ul{
  color:white;
}
.nav li a{
  color:white !important;
}
.active a{
  background-color: orange !important;
}

/*
Link styling
*/
a{
    color:orange;
    text-decoration: none;
}
a:hover,a:visited,a:active{
    text-decoration: none;
    color:orange;
}

/*
Sets the height of the page and make sures there is no overflow
*/
html, body{
  height: 100%;
  overflow-x: hidden;
}

/*
Table heading sizeing and coloring
*/
th{
    font-size: 24px;
    text-align: center;
    color:black;
}

#about{
    margin-top: 50px;
}
.about-header,.contact-header{
    color:gray;
    font-weight: bold;
    font-size: 48px;
    text-align: center;
    padding-top: 35px;

}
.about-right-col{
    font-size: 18px;
    text-align: left;
    padding-top: 10%;
}

.about-left-col{
    padding-top: 10%;
}

#about, #contact{
    background-color: white;
    color:#3399ff;
    min-height: 100%;

}
#about td{
    padding-top: 30px;
}
#hobbies{
  background-color: gray;
  color:white;
  min-height: 100%;
  text-align: center;
  font-size: 20px;

}
.hobbies-header{
  font-weight: bold;
  font-size: 48px;
  padding-top: 35px;
  color:white;
  padding-bottom: 5%;
}
#skills{
    background-color: #3399ff;
    min-height: 100%;
    min-width: 100%;
}
.skills-header{
    color:#111;
    font-weight: bold;
    font-size: 48px;
    text-align: center;
    padding-top: 35px;

}
.skills-col-1,.skills-col-2,.skills-col-3,.skills-col-4,.skills-col-5{
    font-size: 18px;
    padding-top: 50%;
    text-align: center;
    color:white;
    background: 
}

#skills .container{
    background-color: #3399ff;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0px;
    padding-right: 0px;
    min-height: 100%;

}
#skills .col-sm-2{
     background-color: #3399ff;
}

.contact-header{
  padding-bottom: 15%;
}


#contact .col-sm-2{
    margin-top: 50px;
    background-color:white;
}
#contact .container{
  background-color: white;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0px;
  padding-right: 0px;
  min-height: 100%;
}
/*
Contact images sizing
*/
.mail,.git,.facebook,.twitter,.instagram{
    font-weight: bold;
    font-size: 24px;
    max-height: 5%;
    max-width:5%;
}

.navbar-bottom{
  background-color: #2e2e2e;
  color:white;
  text-align: center;
}





